#superContainer {
  display: flex;
}

#superContainer aside br {
  margin: 4% 0 4% 0;
}

aside {
  width: 25%;
  height: 60%;
  border: 1px solid black;
  padding: 1%;
}

section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 3%;
  justify-content: center;
}

.produit {
  width: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.produit img {
  width : 100%;
  height : 150px;
}
