body {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
}

#logo {
  width: 20%;
  display: flex;
  justify-content: center;
}

header img {
  width: 100%;
  height: auto
}

#headerContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  display: flex;
  padding: 0px;
  list-style-type: none;
}

nav a {
  width: 33%;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  color: black;
}

nav a:hover{
  background-color: lightgrey;
  color: white;
}
