#filters {
  margin: 1% 0;
  border: 1px solid black;
  padding: 2%;
}

#filters label {
  padding: 2%;
}

#resultsContainer table {
  width: 100%;
}

#resultsContainer table td {
  padding: 2%;
  border: 1px solid black;
}

.intitules {
  background-color: lightgrey;
}
